footer
  .container.text-center
    p.pull-left © 2014 <a href="https://github.com/koding/global.hackathon/tree/master/Teams/OrangeVerse">OrangeVerse</a>, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/rudym/numcom') GitHub Project
      li
        a(href='https://github.com/rudym/numcom/issues') Issues