extends layout
script(src='../public/js/phaser.min.js')
block content
  h1 Number Commander
  p.lead
    | All is number! Number Commander online game
  p
    | Number Commander is supposed to help learning numbers addition by children in fun RPG-like online multiplayer game.
  p
    | It&apos;s created by 
    a(href='https://github.com/koding/global.hackathon/tree/master/Teams/OrangeVerse') OrangeVerse team
    |  during 
    a(href='http://koding.com') Koding.com Hackaton
    | .
  h2 Gaming Controls
  p
    | Use Arrows &larr; &uarr;&rarr;&darr; to control the camera.
    | Type Number of the sum of path you want to go and then press Enter to do your move!
  p
      | We used 
      a(href='http://koding.com') Koding.com
      | , 
      a(href='nodejs.org') NodeJS
      | , 
      a(href='http://phaser.io') Phaser
      |   and HTML5 to create this awesome game!

    hr